* {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

p {
    color: #275277;
}

a {
    text-decoration: none;
}

a:visited {
    color: #FFFFFF
        /* 點擊後仍然是黑色 */
}

li {
    list-style-position: outside;
    color: #275277;
}

button:hover {
    cursor: pointer;
}

/* -------------------------------------------- index ------------------------------------------------------- */
body.body-index {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/sunny-jade1205/sunnyPortfolio/main/img/index/index-背景.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-index {
    background-image: url(https://raw.githubusercontent.com/sunny-jade1205/sunnyPortfolio/main/img/index/infoBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    aspect-ratio: 2/1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    grid-template-areas:
        "myPhoto intro intro"
        "myPhoto intro intro "
        "myName button-coding button-live2D"
    ;
}

.container-index .myPhoto {
    grid-area: myPhoto;
    margin: auto 0;
}

.container-index .myPhoto img {
    display: flex;
    justify-self: center;
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border-radius: 50%;

}

.container-index .myName {
    grid-area: myName;
    text-align: center;
    line-height: 2;
    color: #FFFFFF;
    margin: auto 0;
    background-image: url(https://raw.githubusercontent.com/sunny-jade1205/sunnyPortfolio/main/img/index/nameBackground.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.container-index .myName p {
    color: #FFFFFF;
}

.container-index .intro {
    grid-area: intro;
    margin: auto 5%;
    color: #275277;
}

.container-index .intro li {
    text-indent: -20px;
    padding-left: 20px;
}

.container-index .empty {
    grid-area: empty;
}

.container-index .button-coding {
    grid-area: button-coding;
    line-height: 4;
    background-image: url(https://raw.githubusercontent.com/sunny-jade1205/sunnyPortfolio/main/img/index/buttonBackground.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto 0;
    text-align: center;
    color: #FFFFFF;

}

.container-index .button-live2D {
    grid-area: button-live2D;
    line-height: 4;
    background-image: url(https://raw.githubusercontent.com/sunny-jade1205/sunnyPortfolio/main/img/index/buttonBackground.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto 0;
    text-align: center;
    color: #FFFFFF;
}

/* -------------------------------------------- page1 & page2 ------------------------------------------------------- */

.bar {
    background-color: #275277;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "goBackPage pageTitle icon"
    ;
}

.goBackPage {
    grid-area: goBackPage;
    margin: auto 0;
}

.goBackPage a {
    margin: 5% 10%;
    font-size: 36px;
}

.pageTitle {
    grid-area: pageTitle;
    text-align: center;
    font-size: 32px;
    margin: auto 0;
}
.pageTitle p{
    color: #FFFFFF;
}

.icon {
    grid-area: icon;
    margin: auto 0;
}

/* -------------------------------------------- page1 ------------------------------------------------------- */


.container-page1 .group {
    display: grid;
    margin: 0 15%;
    padding: 3% 5% 0 5%;
    background-color: #D3E6F6;
    grid-template-columns: 1fr 1.7fr;
    grid-template-rows: min-content min-content min-content min-content 1fr 1fr;
    grid-template-areas:
        "artName artImg"
        "artTag artImg"
        "artMember artImg"
        "artTeacher artImg"
        "artIntro artVideo"
        "artIntro artVideo"
    ;
}

.container-page1 .group li {
    text-indent: -22px;
    padding-left: 22px;
}

.container-page1 .artName {
    grid-area: artName;
}

.container-page1 .artName img {
    max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.container-page1 .artTag {
    grid-area: artTag;
}

.container-page1 .artMember {
    grid-area: artMember;
}

.container-page1 .artTeacher {
    grid-area: artTeacher;
    margin-bottom: 3%;
}

.container-page1 .artIntro {
    grid-area: artIntro;
    line-height: 1.5;
    text-align: justify;
}

.container-page1 .artIntro p {
    text-indent: 32px;
    margin-bottom: 10%;
}

.container-page1 .artImg {
    grid-area: artImg;
    margin-left: 5%;
    margin-bottom: 3%;
}

.container-page1 .artImg img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.container-page1 .artVideo {
    grid-area: artVideo;
    margin-left: 5%;
    margin-bottom: 5%;
}

.container-page1 .artVideo iframe {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 35vh;
}

/* -------------------------------------------- page2 ------------------------------------------------------- */

.container-page2 .group {
    display: grid;
    margin: 0 15%;
    padding: 3% 5% 0 5%;
    background-color: #D3E6F6;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
        "artName artImg"
        "artMember artImg"
        "artIntro artVideo"
    ;
}

.container-page2 .artName {
    grid-area: artName;
    padding: 0 40% 0 0;
    margin-bottom: 5%;
}

.container-page2 .artName img {
    max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: bottom;
    border-radius: 50%;
}

.container-page2 .artMember {
    grid-area: artMember;
    margin-bottom: 5%;
}

.container-page2 .artIntro {
    grid-area: artIntro;
    line-height: 1.5;
    text-align: justify;
}

.container-page2 .artIntro p {
    text-indent: 35px;
}

.container-page2 .artImg {
    grid-area: artImg;
    margin-left: 5%;
    margin-bottom: 5%;
}

.container-page2 .artImg img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.container-page2 .artVideo {
    grid-area: artVideo;
    margin-left: 5%;
}

.container-page2 .artVideo iframe {
    max-width: 100%;
    width: 100%;
    height: 50vh;
}