* {
    background-color: darkgrey;
    margin: 0;
    padding: 0;
}

p,
a,
i {
    background-color: transparent;
}

li {
    background-color: transparent;

}

button:hover {
    cursor: pointer;
}

/* -------------------------------------------- index ------------------------------------------------------- */
body.body-index {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/sunny-jade1205/sunnyPortfolio/main/img/index/index-背景.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.container-index {
    background-color: chocolate;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-areas:
        "myPhoto intro intro"
        "myPhoto intro intro "
        "myName button-coding button-live2D"
    ;
}

.container-index .myPhoto {
    grid-area: myPhoto;
    background-color: aquamarine;
}

.container-index .myPhoto img {
    display: flex;
    justify-self: center;
    width: 15vw;
    height: auto;
    vertical-align: bottom;
    border-radius: 50%;
}

.container-index .myName {
    grid-area: myName;
    background-color: cornflowerblue;
    text-align: center;
    vertical-align: bottom;
    margin: auto 0;
}

.container-index .intro {
    grid-area: intro;
    background-color: bisque;
    margin: auto 10%;
}

.container-index .empty {
    grid-area: empty;
}

.container-index .button-coding {
    grid-area: button-coding;
    background-color: brown;
    margin: auto 0;
    text-align: end;
}

.container-index .button-live2D {
    grid-area: button-live2D;
    background-color: brown;
    margin: auto 0;
    text-align: end;
}

/* -------------------------------------------- page1 & page2 ------------------------------------------------------- */

.bar {
    background-color: darkolivegreen;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "goBackPage pageTitle icon"
    ;
}

.goBackPage {
    grid-area: goBackPage;
}

.goBackPage a {
    margin: 5% 10%;
    font-size: 36px;
}

.pageTitle {
    grid-area: pageTitle;
    text-align: center;
    font-size: 32px;
    margin: 5% 0;
}

.icon {
    grid-area: icon;
}

/* -------------------------------------------- page1 ------------------------------------------------------- */

.container-page1 .group {
    display: grid;
    margin: 5% 15%;
    background-color: rgb(107, 69, 100);
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: min-content min-content min-content min-content min-content min-content;
    grid-template-areas:
        "artName artImg"
        "artTag artImg"
        "artMember artImg"
        "artTeacher artImg"
        "artIntro artVideo"
        "artIntro artVideo"
    ;
}

.container-page1 .artName {
    grid-area: artName;
    background-color: blue;
}

.container-page1 .artName img {
    width: 20vw;
    height: auto;
    vertical-align: bottom;
}

.container-page1 .artTag {
    grid-area: artTag;
    background-color: cadetblue;
}

.container-page1 .artMember {
    grid-area: artMember;
    background-color: brown;
}

.container-page1 .artTeacher {
    grid-area: artTeacher;
    background-color: chocolate;
}

.container-page1 .artIntro {
    grid-area: artIntro;
    margin-top: 10%;
    background-color: chartreuse;
}

.container-page1 .artImg {
    grid-area: artImg;
    margin-left: 3%;
    background-color: blueviolet;
}

.container-page1 .artImg img {
    width: 40vw;
    height: auto;
    vertical-align: bottom;
}

.container-page1 .artVideo {
    grid-area: artVideo;
    margin-top: 5%;
    margin-left: 3%;
    background-color: darkkhaki;
}

.container-page1 .artVideo iframe {
    width: 40vw;
    height: 50vh;
}

/* -------------------------------------------- page2 ------------------------------------------------------- */

.container-page2 .group {
    display: grid;
    margin: 5% 15%;
    background-color: rgb(107, 69, 100);
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
        "artName artImg"
        "artMember artImg"
        "artIntro artVideo"
    ;
}

.container-page2 .artName {
    grid-area: artName;
    background-color: blue;
}

.container-page2 .artName img {
    width: 15vw;
    height: auto;
    vertical-align: bottom;
    border-radius: 50%;
}

.container-page2 .artMember {
    grid-area: artMember;
    margin-top: 5%;
    background-color: brown;
}

.container-page2 .artIntro {
    grid-area: artIntro;
    margin-top: 10%;
    background-color: chartreuse;
}

.container-page2 .artImg {
    grid-area: artImg;
    margin-left: 3%;
    background-color: blueviolet;
}

.container-page2 .artImg img {
    width: 40vw;
    height: auto;
    vertical-align: bottom;
}

.container-page2 .artVideo {
    grid-area: artVideo;
    margin-top: 5%;
    margin-left: 3%;
    background-color: darkkhaki;
}

.container-page2 .artVideo iframe {
    width: 40vw;
    height: 50vh;
}